################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nats-poc
/Publish/obj
/Publish/bin/Debug/net6.0
/Subscribe/obj
/Subscribe/bin/Debug/net6.0
